<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm" action="/auth/login" method="POST">
          <!-- <div class="form-group">
            <label for="userTypeInput">User Type</label>
            <select name="type" class="custom-select" id="userTypeInput">
              <option selected value="administrator">Administrator</option>
              <option value="employee">Employee</option>
              <option value="guardian">Guardian</option>
              <option value="pickupPerson">Pickup person</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="userNameInput">User Name</label>
            <input name="username" type="text" class="form-control" id="userNameInput" />
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input name="password" type="password" class="form-control" id="passwordInput" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" onclick="login_form_submit(this)">Login</button>
      </div>
    </div>
  </div>
</div>

<script>
  function login_form_submit(e) {
    document.getElementById("loginForm").submit();
  }
</script>
