<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"
      >School Management System - Somsubhra Das, Soumo Banerjee &amp; Soumyadip
      Paul</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- for more navbar elements -->
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
      <% if (locals.isAuthenticated) { %>
      <a href="/auth/logout">Logout</a>
      <% } else { %>

      <ul class="navbar-nav">
        <li class="navbar-item">
          <button
            type="button"
            class="btn btn-outline-primary my-2 my-sm-0"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Login
          </button>
        </li>
      </ul>
      <% } %>
    </div>
  </div>
</nav>
