<div class="board p-5" id="notice-board">
  <div class="row mb-3">
    <div class="headline d-flex">Notice Board</div>

    <% if (notice!= null) { %>
    <div class="date d-flex">
      <% const months = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug",
      "Sep", "Oct", "Nov", "Dec"]; %> <%= notice.date.getDate() + "-" +
      months[notice.date.getMonth()] + "-" + notice.date.getFullYear() %>
    </div>
  </div>
  <div class="notice">
    <ol>
      <% for( let i = 0; i < notice.body.length; i++ ) { %>
      <li><%= notice.body[i] %></li>
      <% } %>
      <!-- <li>This is to notify that <strong>Rampurhat Sreeja</strong> has bagged the prestigious award</li>
        <li>We hope to get yor love in futre as well</li> -->
    </ol>
    <% } %>
  </div>
</div>
