<div class="notice-board p-5">
  <div class="row">
    <div class="headline d-flex">Notice Board</div>
    <div class="date d-flex">dd-MMMM-yy</div>
  </div>
  <div class="notice">
    <ol>
      <li>This is to notify that <strong>Rampurhat Sreeja</strong> has bagged the prestigious award</li>
      <li>We thank all the patrons for the continuous support</li>
      <li>We hope to get yor love in futre as well</li>
    </ol>
  </div>
</div>
