<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link rel="stylesheet" href="/css/yearbook.css" />
</head>
<body>
    <div class='row justify-content-center'>
        <h2>Yearbook</h2>
    </div>
    <div class="container">
        <strong>Class X</strong> 
        <div class="row">
            <div id="testimonial-slider1" class="carousel">
                <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae. Animi architecto consequatur delectus eos id.
                    </p>
                    <div class="pic">
                        <img src="/assets/hero.png">
                    </div>
                    <h3 class="title">Arijit Bhowmik</h3>
                    <span class="post">Section - A</span>
                </div>
                <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae. Animi architecto consequatur delectus eos id.
                    </p>
                    <div class="pic">
                        <img src="/assets/hero.png">
                    </div>
                    <h3 class="title">Arijit Bhowmik</h3>
                    <span class="post">Section - A</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <strong>Class XI</strong> 
        <div class="row">
            <div id="testimonial-slider2" class="carousel">
                <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae. Animi architecto consequatur delectus eos id.
                    </p>
                    <div class="pic">
                        <img src="/assets/hero.png">
                    </div>
                    <h3 class="title">Arijit Bhowmik</h3>
                    <span class="post">Section - A</span>
                </div>
                <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae. Animi architecto consequatur delectus eos id.
                    </p>
                    <div class="pic">
                        <img src="/assets/hero.png">
                    </div>
                    <h3 class="title">Arijit Bhowmik</h3>
                    <span class="post">Section - A</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
    jQuery(document).ready(function(){
        jQuery("#testimonial-slider1").owlCarousel({
            items:1,
            itemsDesktop:[1000,1],
            itemsDesktopSmall:[979,1],
            itemsTablet:[769,1],
            pagination:true,
            autoplay:true
        });
    });
    jQuery(document).ready(function(){
        jQuery("#testimonial-slider2").owlCarousel({
            items:1,
            itemsDesktop:[1000,1],
            itemsDesktopSmall:[979,1],
            itemsTablet:[769,1],
            pagination:true,
            autoplay:true
        })(jQuery);
    });
</script>
</html>
